<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
	</startup>
	<connectionStrings>
		<!--<add name="AttendanceServiceDB" connectionString="Data Source=ROBOT;Initial Catalog=ServiceHub;Integrated Security=True;Persist Security Info=True;Encrypt=True;TrustServerCertificate=True;user id=sa;password=123;" providerName="System.Data.SqlClient"/>-->
		<add name="AttendanceServiceDB" connectionString="Data Source=SRV-ATTD-01;Initial Catalog=ServiceHub;User ID=sa;Password=@Admin;Persist Security Info=True;Encrypt=False;TrustServerCertificate=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<!-- Time interval in milliseconds (e.g., 3600000 = 1 hour) -->
		<!--<add key="TimerInterval" value="3600000"/>-->
		<!-- Time interval in milliseconds (e.g., 60000 = 1 minute) -->
		<add key="TimerInterval" value="60000"/>
		<!-- Specific times to run the service (e.g., 10:00 AM, 01:00 PM, 05:00 PM, 01:00 AM) -->
		<!--<add key="RunTimes" value="10:00,17:00"/>-->
		<add key="RunTimes" value="08:00,10:00,12:00,14:00,17:00,22:00,01:00"/>
		
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
